/* variables */
:root {
    --highlightDark: #44ccff;
    --highlightLight: #0089f5;
}



.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: .5rem;
}

.image-container i{

  font-size: 2rem;
}
.light .image-container i:hover{
/* color: #55d6be; */
color: var(--highlightLight);
}
.dark .image-container i:hover{
    color: var(--highlightDark);
}
 .light  p > a:hover, .light  div > a:hover{

    color: var(--highlightLight);
 }
 .dark  p > a:hover, .dark  div > a:hover{
    color: var(--highlightDark);
 }
