@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --highlight: #006AF9;
        --default-text: #475569;
        --bold-text: #1e293b;
        --bg: #fff;
    }

    :root[class~="dark"] {
        --highlight: #0cead9;
        --default-text: #e2e8f0;
        --bold-text: #f8fafc;
        --bg: #111827;
    }
}

.cap {
    text-transform: uppercase;

}

.post-container {
    a {
        text-decoration: none;
    }
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: .5rem;

    i {

        font-size: 2rem;
    }
}

i:hover {
    color: var(--highlight);

}

article {

    p,
    div {
        a:hover {
            color: var(--highlight);

        }
    }

    &.article-blog {

        p,
        div {
            a:hover {
                color: inherit;
            }
        }
    }
}



.image-container {
    display: flex;
    justify-content: flex-start;

    img.top-blog-image {
        width: 30%;

    }
}

.page-index,
.page-blog-slug,
.page-projects {

    h2,
    h3 {
        a {
            text-decoration: none;

            &:hover {
                color: inherit;
            }
        }

        div {
            a:hover {
                color: var(--highlight);
            }
        }

        header+a:hover {
            text-decoration: none;
            color: var(--default-text);
        }
    }

}




.page-index {
    a {
        color: var(--default-text);
        text-decoration: none;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
            color: var(--highlight);

        }
    }

    h1+p {
        a {
            color: var(--bold-text);
        }
    }

    header {
        a:hover {
            text-decoration: none;
            color: var(--default-text);
        }
    }
}

//Blog Specific Styles
i.fa-wordpress {
    font-size: 8rem;
}

.gradient-border {
    width: fit-content;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #729EFD, #8a64d6);
    border-image-slice: 1;

    &.slice-sides {
        border-image-slice: 1 0;
    }

    &.left-only {
        border-image-slice: 0 0 0 1;
    }

}

.gradient-box {
    position: relative;
    padding: 5px;
    width: 100px;



    &:before {
        border-radius: 10px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to bottom, #ff7a18, #af002d);
    }

    .content-box {
        width: 100%;
        border-radius: 5px;
        position: relative;
        text-align: center;
        background: var(--bg);
        color: var(--default-text);
        padding: 10px 15px;
    }
}
.gradient-3{
 
        background: linear-gradient(45deg, var(--bg), var(--bg)) padding-box, linear-gradient(45deg, #ff7a18, #af002d) border-box;
        padding: 10px 15px; 
        border: 5px solid transparent;
        width: fit-content;
        border-radius: 10px;
     
}