/* variables */
// :root {
//     --highlightDark: #44ccff;
//     --highlightLight: #0089f5;
// }

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --highlight: #0089f5;
        --default-text: #475569;
        --bold-text: #1e293b

    }

    :root[class~="dark"] {
        --highlight: #44ccff;
        --default-text: #e2e8f0;
        --bold-text: #f8fafc;
    }
}

.cap{
    text-transform: uppercase;

}
.post-container {
    a {
        text-decoration: none;
    }
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: .5rem;

    i {

        font-size: 2rem;
    }
}

i:hover {
    color: var(--highlight);

}

article {

    p,
    div {
        a:hover {
            color: var(--highlight);

        }
    }

    &.article-blog {

        p,
        div {
            a:hover {
                color: inherit;
            }
        }
    }
}



.image-container {
    display: flex;
    justify-content: flex-start;

    img.top-blog-image {
        width: 30%;

    }
}

.page-index,
.page-blog-slug,
.page-projects {

    h2,
    h3 {
        a {
            text-decoration: none;

            &:hover {
                color: inherit;
            }
        }

        div {
            a:hover {
                color: var(--highlight);
            }
        }
    }

}

.page-index {
    a {
        color: var(--default-text);
        text-decoration: none;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
            color: var(--highlight);

        }
    }

    h1+p {
        a {
            color: var(--bold-text);
        }
    }
}

//Blog Specific Styles
i.fa-wordpress {
    font-size: 8rem;
}