/* variables */
:root {
    --highlightDark: #44ccff;
    --highlightLight: #009df5;
}



.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: .5rem;
}

.image-container i{

  font-size: 2rem;
}
.image-container i:hover{
/* color: #55d6be; */
color: var(--highlightLight);
}
.dark .image-container i:hover{
    color: var(--highlightDark);
}
