/* variables */
:root {
    --highlightDark: #44ccff;
    --highlightLight: #0089f5;
}



.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: .5rem;
    i{

        font-size: 2rem;
    }
}
.light{

  i:hover{
    color: var(--highlightLight);
  
  }
  p, div {
    a:hover{
        color: var(--highlightLight);

    }
  }
} 

 .dark{
    i:hover{
        color: var(--highlightDark);
    }
    p, div {
        a:hover{
            color: var(--highlightDark);
    
        }
      }
 }
 .image-container{
    display: flex;
    justify-content: flex-start;
    img.top-blog-image{
        width: 30%;

    }
 }
#whats-new-on-the-blog{
    a{
        text-decoration: none;;
        &:hover{
            color: inherit;
        }
    }
}
.post-container{
    a{
        text-decoration: none;
    }
}
i.fa-wordpress{
    font-size: 8rem;
}
h2, h3{
    a:hover{
        color: inherit !important;
        text-decoration: none !important;

    }
}